<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>首页</title>
</head>

<body>
	<!--  左侧数据 -->
	<left>
	<div class="container-fluid">
		<div class="row">
			<ul class="list-group text-center">
				<li th:text="#{msg.management.backstage}">后台管理</li>
				<li><a href="/resource" th:text="#{msg.management.resource}">资源管理</a></li>
				<li><a th:href="@{/privilege}"
					th:text="#{msg.management.privilege}">权限管理</a></li>
				<li><a th:href="@{/role}" th:text="#{msg.management.role}">角色管理</a></li>
				<li><a th:href="@{/user}" th:text="#{msg.management.user}">用户管理</a></li>
				<br>
				<li th:text="#{msg.management.ftpbase}">资料库管理</li>
				<li><a th:href="@{/syncftp}"
					th:text="#{msg.management.syncftpbase}">手动同步fBase</a></li>
				<li><a th:href="@{/syncftp}"
					th:text="#{msg.management.timertask}">定时任务管理</a></li>
				<li><a th:href="@{/syncftp}" th:text="#{msg.management.pwd}">密码管理</a></li>
			</ul>
		</div>
	</div>
	</left>


	<!-- 右侧数据 -->
	<right> <!-- 资源管理 -->
	<div class="container-fluid text-middle">
		<div class="bg-primary">添加资源</div>
		<br>
		<form action="/resource/add" class="form-inline">
			<label th:text="#{msg.resource.uri}"></label> <input name="uri"
				type="text" class="form-control"> <label
				th:text="#{msg.resource.description}"></label> <input
				name="description" type="text" class="form-control"> <label
				th:text="#{msg.resource.privilege}"></label> <select
				name="privilegeId" class="form-control" th:filed="*{privilege}"
				th:remove="all-but-first">
				<option th:each="privilege:${privileges}" th:value="${privilege.id}"
					th:text="${privilege.name}">
				<option>
			</select>
			<button class="form-control" type="submit"
				th:text="#{msg.resource.add}">添加新资源</button>
		</form>
		<br>

		<table class="table table-striped">
			<caption class="bg-primary">资源管理</caption>
			<thead>
				<tr>
					<td th:text="#{msg.resource.id}">ID</td>
					<td th:text="#{msg.resource.uri}">URI</td>
					<td th:text="#{msg.resource.description}">描述</td>
					<td th:text="#{msg.resource.method}">处理方法</td>
					<td th:text="#{msg.resource.update}">修改</td>
				</tr>
			</thead>
			<tr th:each="resource : ${resources}">
				<td th:text="${resource.id}">id</td>
				<td><input name="uri" type="text" th:value="${resource.uri}"
					readonly="readonly" class="form-control"></td>
				<td><input name="description" type="text"
					th:value="${resource.description}" class="form-control"></td>
				<td><input name="methdPath" th:value="${resource.methodPath}"
					class="form-control" readonly="readonly"></td>
				<td><button th:text="#{msg.resource.update}"
						class="btn btn-primary"></button></td>
			</tr>

		</table>
	</div>
	</right>

</body>

</html>