<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>党务工作</title>
<meta charset="utf-8">
</head>

<body>

		<!-- 两栏式-左侧栏 -->
		<left>
			<div class="list-group">
				<div class="list-group-item">					
					<h4><img alt="" src="imgs/icon_party_tiny.png">党务工作</h4>
				</div>
				<button class="list-group-item"><img alt="" src="imgs/zhelee_logo_flat.png">党组织管理</button>
				<button class="list-group-item"><img alt="" src="imgs/zhelee_logo_flat.png">计划管理</button>
				<button class="list-group-item"><img alt="" src="imgs/zhelee_logo_flat.png">党员管理</button>
				<button class="list-group-item"><img alt="" src="imgs/zhelee_logo_flat.png">会议记录</button>
				<button class="list-group-item"><img alt="" src="imgs/zhelee_logo_flat.png">活动记录</button>
			</div>
		</left>

		<!-- 两栏式-右侧栏 -->
		<right>
			<p>党员系统请登录党员E先锋</p>
			<a href="http://www.bjzg.gov.cn/">党员E先锋</a>
		</right>

</body>
</html>
