<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta th:include="fregment/top::head">
<title>日常工作</title>
</head>
<body>
	<!-- 顶部目录 -->
	<div th:include="fregment/header::body"></div>

	<div class="container-fluid">
		<div class="row">
			<!-- Left SideBar -->
			<div class="col-md-2">
				<div class="sidebar-nav list-group">
				    <a href="javascript:void(0)" class="nav-header list-group-item active">日常工作</a>
					<a href="#dashboard-menu" class="nav-header list-group-item"
						data-toggle="collapse"><i class="glyphicon glyphicon-user"></i>
							信息中心工作月报</a>
					<ul id="dashboard-menu" class="nav nav-list collapse">
						<li><a th:href="@{/daily/monthReport/overview}"><i
								class="glyphicon glyphicon-search"> 月报查阅（所有人）</i></a></li>
						<li><a th:href="@{/daily/monthReport/fill}"> <i
								class="glyphicon glyphicon-pencil"> 月报填报（信息中心）</i></a></li>
					</ul>

					<a href="#table-menu" class="nav-header list-group-item"
						data-toggle="collapse"><i class="glyphicon glyphicon-th-list"></i>
							新闻发布统计月报</a>
					<ul id="table-menu" class="nav nav-list collapse">
						<li><a href=""> <i class="glyphicon glyphicon-search">
									月报查阅（所有人）</i></a></li>
						<li><a href=""> <i class="glyphicon glyphicon-pencil">
									月报填报（信息中心）</i></a></li>
					</ul>

					<a href="#menu-menu" class="nav-header list-group-item"
						data-toggle="collapse"><i class="glyphicon glyphicon-asterisk"></i>
							信息化固定资产管理 </a>
					<ul id="menu-menu" class="nav nav-list collapse">
						<li><a href=""><i class="glyphicon glyphicon-search">
									固定资产查询</i></a></li>
						<li><a href=""><i class="glyphicon glyphicon-pencil">
									固定资产调整</i></a></li>
					</ul>
				</div>
			</div>

			<!-- right SideBar -->
			<div class="col-md-10">
				<!-- 当前所在位置 -->
				<ol class="breadcrumb">
					<li class="active"><b>当前所在位置：</b></li>
					<li><a th:href="@{/index}">主页</a></li>
					<li><a th:href="@{/daily}">日常工作</a></li>
				</ol>

				<div class="row">
					<div class="col-xs-6 col-md-6">
						<div class="jumbotron" style="background-image: url('/imgs/personel_evaluation_blue.png');background-size: cover;">
							<h1>Hello, world!</h1>
							<p>...</p>
							<p>
								<a class="btn btn-default btn-lg" href="#" role="button">Learn
									more</a>
							</p>
						</div>
					</div>
					<div class="col-xs-6 col-md-6">
						<div class="jumbotron" style="background-image: url('/imgs/personel_evaluation_red.png');background-size: cover;">
							<h1>Hello, world!</h1>
							<p>...</p>
							<p>
								<a class="btn btn-default btn-lg" href="#" role="button">Learn
									more</a>
							</p>
						</div>
					</div>
					<div class="col-xs-6 col-md-6">
						<div class="jumbotron" style="background-image: url('/imgs/personel_evaluation_orange.png');background-size: cover;">
							<h1>Hello, world!</h1>
							<p>...</p>
							<p>
								<a class="btn btn-default btn-lg" href="#" role="button">Learn
									more</a>
							</p>
						</div>
					</div>
					<div class="col-xs-6 col-md-6">
						<div class="jumbotron" style="background-image: url('/imgs/personel_evaluation_green.png');background-size: cover;">
							<h1>Hello, world!</h1>
							<p>...</p>
							<p>
								<a class="btn btn-default btn-lg" href="#" role="button">Learn
									more</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- row -->
	</div>
	<!-- container-fluid -->

	<div th:include="fregment/footer::body"></div>
</body>
</html>
