<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>月报系统</title>
</head>
<body>

	<left>
	<div class="list-group">
		<a id="btn_menu" class="list-group-item" th:href="@{/daily/monthReport/overview}"><b>总览</b></a>
		<button id="btn_party" class="list-group-item"><b>党务工作</b></button>
		<button id="btn_office" class="list-group-item"><b>往来公文</b></button>
		<button id="btn_affairs" class="list-group-item"><b>例会</b></button>
		<button id="btn_news" class="list-group-item"><b>新闻发布</b></button>
		<button id="btn_website" class="list-group-item"><b>局官网政策维护</b></button>
		<button id="btn_nongovern" class="list-group-item"><b>民间投资平台</b></button>
		<button id="btn_maintenance" class="list-group-item"><b>软硬件维护</b></button>
		<button id="btn_fbase" class="list-group-item"><b>“产业招商精准招商”资料库</b></button>
		<button id="btn_security" class="list-group-item"><b>网络与信息安全</b></button>
		<button id="btn_photo" class="list-group-item"><b>摄影摄像</b></button>
	</div>
	</left>


	<right> <!-- 下拉列表框-月份 -->
	<form action="/monthReport" method="get">
		<input th:id="${_csrf.parameterName}" type="hidden"
			th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<a th:href="@{/monthReport/pre/{currentMonth}(currentMonth=${statistics.month})}" class="btn btn-primary">上个月</a>
		<input type="text" th:value="${statistics.month}" readonly>
		<a th:href="@{/monthReport/next/{currentMonth}(currentMonth=${statistics.month})}" class="btn btn-primary">下个月</a>
	</form>
	<br>
	
	<!-- 党务工作  -->
	<form id="fm-party" action="/monthReport/party" method="post">
		<table id="party" class="table table-condensed">
			<tr>
				<td colspan=4><p class="text-center">
					<h4>党务工作</h4> <input th:id="${_csrf.parameterName}" type="hidden"
					th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> <input
					th:id="id" th:name="id" type="hidden" th:value="${statistics.id}">
				</td>

			</tr>
			<tr>
				<td>理论学习（次）</td>
				<td><input id="partyStudy" name="partyStudy" type="number"
					th:value="${statistics.partyStudy}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>
			</tr>
			<tr>
				<td>党务会议（次）</td>
				<td><input id="partyMeeting" name="partyMeeting"
					th:value="${statistics.partyMeeting}" type="number"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>
			</tr>
			<tr>
				<td>党组织活动（次）</td>
				<td><input id="partyActivity" name="partyActivity"
					th:value="${statistics.partyActivity}" type="number"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>
			</tr>
			<tr>
				<td colspan=4>
					<button id="reset_party" type="reset" class="btn btn-default">重置</button>
					<button id="submit_party" type="button" class="btn btn-default">提交</button>
				</td>
			</tr>
		</table>
	</form>

	<!-- 往来公文 -->
	<form id="fm-office" action="/monthReport/office" method="post">
		<table id="office" class="table table-condensed">
			<tr>
				<td colspan=4><h4>公文往来</h4>
				<input th:id="${_csrf.parameterName}" type="hidden"
					th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input th:id="id" th:name="id" type="hidden"
					th:value="${statistics.id}">			
				</td>

			</tr>
			<tr>
				<td>处理公文（项）</td>
				<td><input id="docOffice" name="docOffice" type="number"
					th:value="${statistics.docOffice}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td>配合相关处室完成工作及方案（项）</td>
				<td><input id="docDepart" name="docDepart" type="number"
					th:value="${statistics.docDepart}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td colspan=4>
					<button id="reset_office" type="reset" class="btn btn-default">重置</button>
					<button id="submit_office" type="button" class="btn btn-default">提交</button>
				</td>
			</tr>
		</table>
	</form>

	<!-- 例会 -->
	<form id="fm-affairs" action="/monthReport/affairs" method="post">
		<table id="affairs" class="table table-condensed">
			<tr>
				<td colspan=4><h4>例会</h4>
				<input th:id="${_csrf.parameterName}" type="hidden"
					th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input th:id="id" th:name="id" type="hidden"
					th:value="${statistics.id}">
				</td>
			</tr>
			<tr>
				<td>例会（次）</td>
				<td><input id="affairs" name="affairs" type="number"
					th:value="${statistics.affairs}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td colspan=4>
					<button id="reset_affairs" type="reset" class="btn btn-default">重置</button>
					<button id="submit_affairs" type="button" class="btn btn-default">提交</button>
				</td>
			</tr>
		</table>
	</form>

	<!-- 原创新闻发布-->
	<form id="fm-news" action="/monthReport/news" method="post">
		<table id="news" class="table table-condensed">
			<tr>
				<td colspan=4><h4>新闻发布</h4>
				<input th:id="${_csrf.parameterName}" type="hidden"
					th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input th:id="id" th:name="id" type="hidden"
					th:value="${statistics.id}">
				</td>
			</tr>
			<tr>
				<td>微信原创</td>
				<td><input id="webchatOriginal" name="webchatOriginal"
					type="number" th:value="${statistics.webchatOriginal}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td>微信转发</td>
				<td><input id="webchatTranspond" name="webchatTranspond"
					type="number" th:value="${statistics.webchatTranspond}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td>微博原创</td>
				<td><input id="weiboOriginal" name="weiboOriginal"
					type="number" th:value="${statistics.weiboOriginal}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>
			</tr>
			<tr>
				<td>微博转发</td>
				<td><input id="weiboTranspond" name="weiboTranspond"
					type="number" th:value="${statistics.weiboTranspond}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>
			</tr>
			<tr>
				<td>今日头条原创</td>
				<td><input id="toutiaoOriginal" name="toutiaoOriginal"
					type="number" th:value="${statistics.toutiaoOriginal}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td>今日头条转发</td>
				<td><input id="toutiaoTranspond" name="toutiaoTranspond"
					type="number" th:value="${statistics.toutiaoTranspond}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>
			</tr>

			<tr>
				<td>内部公告栏</td>
				<td><input id="newsBoard" name="newsBoard" type="number"
					th:value="${statistics.newsBoard}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>
			</tr>
			<tr>
				<td>局官网工作动态及通知公告</td>
				<td><input id="newsWebsite" name="newsWebsite" type="number"
					th:value="${statistics.newsWebsite}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href=" ">自动获取</a></td>

			</tr>
			<tr>
				<td colspan=4>
					<button id="reset_news" type="reset" class="btn btn-default">重置</button> <span></span>
					<button id="submit_news" type="button" class="btn btn-default">提交</button>
				</td>
			</tr>
		</table>
	</form>

	<!-- 局官网政策维护 -->
	<form id="fm-website" action="/monthReport/website" method="post">
		<table id="website" class="table table-condensed">
			<tr>
				<td colspan=4><h4>局官网政策维护</h4>
				<input th:id="${_csrf.parameterName}" type="hidden"
					th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input th:id="id" th:name="id" type="hidden"
					th:value="${statistics.id}">
				</td>
			</tr>
			<tr>
				<td>机构概况</td>
				<td><input id="websiteProfile" name="websiteProfile"
					type="number" th:value="${statistics.websiteProfile}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td>投资北京知识</td>
				<td><input id="websiteInvestBeijing"
					name="websiteInvestBeijing" type="number"
					th:value="${statistics.websiteInvestBeijing}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td>投资咨询咨询互动</td>
				<td><input id="websiteInteraction" name="websiteInteraction"
					type="number" th:value="${statistics.websiteInteraction}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td>办事事项</td>
				<td><input id="websiteMatters" name="websiteMatters"
					type="number" th:value="${statistics.websiteMatters}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td>党工团机构</td>
				<td><input id="websiteParty" name="websiteParty" type="number"
					th:value="${statistics.websiteParty}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td>信息公开</td>
				<td><input id="websiteInfo" name="websiteInfo" type="number"
					th:value="${statistics.websiteInfo}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td colspan=4>
					<button id="reset_website" type="reset" class="btn btn-default">重置</button> <span></span>
					<button id="submit_website" type="button" class="btn btn-default">提交</button>
				</td>
			</tr>
		</table>
	</form>

	<!-- 民间投资平台维护 -->
	<form id="fm-nongovern" action="/monthReport/nongovern" method="post">
		<table id="nongovern" class="table table-condensed">
			<tr>
				<td colspan=4><h4>民间投资平台维护</h4>
				<input th:id="${_csrf.parameterName}" type="hidden"
					th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input th:id="id" th:name="id" type="hidden"
					th:value="${statistics.id}">
				</td>
			</tr>
			<tr>
				<td>发展规划</td>
				<td><input id="nongovernDevelopPlanning"
					name="nongovernDevelopPlanning" type="number"
					th:value="${statistics.nongovernDevelopPlanning}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td>投资政策</td>
				<td><input id="nongovernInvestPolicy"
					name="nongovernInvestPolicy" type="number"
					th:value="${statistics.nongovernInvestPolicy}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td>行政许可</td>
				<td><input id="nongovernAuthoritylicense"
					name="nongovernAuthoritylicense" type="number"
					th:value="${statistics.nongovernAuthoritylicense}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td>市场准入</td>
				<td><input id="nongovernMarketAccess"
					name="nongovernMarketAccess" type="number"
					th:value="${statistics.nongovernMarketAccess}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td>投资机会</td>
				<td><input id="nongovernInvestOpportunity"
					name="nongovernInvestOpportunity" type="number"
					th:value="${statistics.nongovernInvestOpportunity}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>

			</tr>
			<tr>
				<td>投资服务</td>
				<td><input id="nongovernInvestService"
					name="nongovernInvestService" type="number"
					th:value="${statistics.nongovernInvestService}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>
			</tr>
			<tr>
				<td colspan=4>
					<button id="reset_nongovern" type="reset" class="btn btn-default">重置</button> <span></span>
					<button id="submit_nongovern" type="button" class="btn btn-default">提交</button>
				</td>
			</tr>
		</table>
	</form>

	<!-- 软硬件维护 -->
	<form id="fm-maintenance" action="/monthReport/maintenance" method="post">
		<table id="maintenance" class="table table-condensed">
			<tr>
				<td colspan=4><h4>软硬件维护</h4>
				<input th:id="${_csrf.parameterName}" type="hidden"
					th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input th:id="id" th:name="id" type="hidden"
					th:value="${statistics.id}">
				</td>
			</tr>
			<tr>
				<td>办公设备维修（人次）</td>
				<td><input id="maintenanceHardware" name="maintenanceHardware"
					type="number" th:value="${statistics.maintenanceHardware}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>
			</tr>
			<tr>
				<td>软件及系统问题（人次）</td>
				<td><input id="maintenanceSoftware" name="maintenanceSoftware"
					type="number" th:value="${statistics.maintenanceSoftware}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>
			</tr>
			<tr>
				<td colspan=4>
					<button id="reset_maintenance" type="reset" class="btn btn-default">重置</button> <span></span>
					<button id="submit_maintenance" type="button" class="btn btn-default">提交</button>
				</td>
			</tr>
		</table>
	</form>

	<!-- "产业招商精准招商资料库" -->
	<form id="fm-fbase" action="/monthReport/fbase" method="post">
		<table id="fbase" class="table table-condensed">
			<tr>
				<td colspan=4><h4>“产业招商精准招商”资料库</h4>
				<input th:id="${_csrf.parameterName}" type="hidden"
					th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input th:id="id" th:name="id" type="hidden"
					th:value="${statistics.id}">
				</td>
			</tr>
			<tr>
				<td>本月新增（条）数</td>
				<td><input id="fbaseNew" name="fbaseNew" type="number"
					th:value="${statistics.fbaseNew}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="/database/getnew">自动获取</a></td>
			</tr>
			<tr>
				<td colspan=4>
					<button id="reset_fbase" type="reset" class="btn btn-default">重置</button> <span></span>
					<button id="submit_fbase" type="button" class="btn btn-default">提交</button>
				</td>
			</tr>
		</table>
	</form>


	<!-- 网络与信息安全 -->
	<form id="fm-security" action="/monthReport/security" method="post">
		<table id="security" class="table table-condensed">
			<tr>
				<td colspan=4><h4>网络与信息安全</h4>
				<input th:id="${_csrf.parameterName}" type="hidden"
					th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input th:id="id" th:name="id" type="hidden"
					th:value="${statistics.id}">
				</td>
			</tr>
			<tr>
				<td>阻断网站安全攻击（次）</td>
				<td><input id="securityAttackBlock" name="securityAttackBlock"
					type="number" th:value="${statistics.securityAttackBlock}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="/database/getnew">自动获取</a></td>
			</tr>
			<tr>
				<td>系统加固（条）</td>
				<td><input id="securitySystemReinforce"
					name="securitySystemReinforce" type="number"
					th:value="${statistics.securitySystemReinforce}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="/database/getnew">自动获取</a></td>
			</tr>
			<tr>
				<td>安全通报（份）</td>
				<td><input id="securitySafetyMessage"
					name="securitySafetyMessage" type="number"
					th:value="${statistics.securitySafetyMessage}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="/database/getnew">自动获取</a></td>
			</tr>
			<tr>
				<td>漏洞扫描（次）</td>
				<td><input id="securityBugScan" name="securityBugScan"
					type="number" th:value="${statistics.securityBugScan}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="/database/getnew">自动获取</a></td>
			</tr>
			<tr>
				<td>发现漏洞（个）</td>
				<td><input id="securityBugNum" name="securityBugNum"
					type="number" th:value="${statistics.securityBugNum}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="/database/getnew">自动获取</a></td>
			</tr>
			<tr>
				<td>修复网站故障（次）</td>
				<td><input id="securityWebsiteTrouble"
					name="securityWebsiteTrouble" type="number"
					th:value="${statistics.securityWebsiteTrouble}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="/database/getnew">自动获取</a></td>
			</tr>
			<tr>
				<td>全局性网络故障（次）</td>
				<td><input id="securityGlobalTrouble"
					name="securityGlobalTrouble" type="number"
					th:value="${statistics.securityGlobalTrouble}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="/database/getnew">自动获取</a></td>
			</tr>
			<tr>
				<td colspan=4>
					<button id="reset_security" type="reset" class="btn btn-default">重置</button> <span></span>
					<button id="submit_security" type="button" class="btn btn-default">提交</button>
				</td>
			</tr>
		</table>
	</form>

	<!-- 摄影摄像 -->
	<form id="fm-photo" action="/monthReport/photo" method="post">
		<table id="photo" class="table table-condensed">
			<tr>
				<td colspan=4><h4>摄影摄像</h4>
				<input th:id="${_csrf.parameterName}" type="hidden"
					th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<input th:id="id" th:name="id" type="hidden"
					th:value="${statistics.id}">
				</td>
			</tr>
			<tr>
				<td>会议摄影（次）</td>
				<td><input id="photoMeeting" name="photoMeeting" type="number"
					th:value="${statistics.photoMeeting}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>
			</tr>
			<tr>
				<td>活动摄影（次）</td>
				<td><input id="photoActivity" name="photoActivity"
					type="number" th:value="${statistics.photoActivity}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>
			</tr>
			<tr>
				<td>照片资料（次）</td>
				<td><input id="photoImgNum" name="photoImgNum" type="number"
					th:value="${statistics.photoImgNum}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>
			</tr>
			<tr>
				<td>影像资料（段）</td>
				<td><input id="photoVideoNum" name="photoVideoNum"
					type="number" th:value="${statistics.photoVideoNum}"></td>
				<td><p class="text-error">说明：填写数字或自动获取</p></td>
				<td><a class="btn btn-primary" href="">自动获取</a></td>
			</tr>
			<tr>
				<td colspan=4>
					<button id="reset_photo" type="reset" class="btn btn-default">重置</button> <span></span>
					<button id="submit_photo" type="button" class="btn btn-default">提交</button>
				</td>
			</tr>
		</table>
	</form>

	<!-- 根据左侧按钮控制显示 -->
	<script type="text/javascript">
		$(document).ready(function() {
			$("table").hide();
			$("#party").show();
			$("button.list-group-item").click(function() {		
				var btnId = $(this).attr("id");
				var tableId = btnId.substr(btnId.lastIndexOf("_") + 1);
				$("table").hide();
				$("#" + tableId).show();
			});

			//id以submit开关的
			$("button[id^='submit']").click(function(){
				var btnId=$(this).attr("id");//获取按钮ID
				var ajaxurl=btnId.substr(btnId.lastIndexOf("_")+1);
				//发送Ajax请求
				debugger;
				$.post(
					"/monthReport/"+ajaxurl,
					$("#fm-"+ajaxurl).serialize(),//表单数据
					function(data){
						debugger;
						if(data==true) 
							alert("保存成功");
						else 
							alert("保存失败");}//返回结果的处理
				)
			})

		});
	</script>
	</right>
</body>
</html>
