<?xml version="1.0" encoding="UTF-8"?>
<!-- 优先级从高到低依次为：OFF、FATAL、ERROR、WARN、INFO、DEBUG、TRACE、 ALL。 -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 属性文件 -->
    <contextName>logback</contextName>
    <property name="log.path" value="E:\\test\\logback.log"></property>
	
	<!-- 输出到控制台 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss} %contextName {%thread} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
   
    <!-- 输出到文件并配置文件轮转 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.path}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logback.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder>
			<pattern>%d{HH:mm:ss} %contextName {%thread} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
    </appender>

    <!-- root 默认日志配置 ， 注意这里的级别哈！小心生产环境用DEBUG，压爆你的磁盘！-->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
    
    
    <!-- logback为java中的包 -->
    <logger name="com.dudu.controller"/>
    <!-- logback.LogbackDemo:类的全路径 -->
    <logger name="com.dudu.controller.LearnController" level="WARN" additivity="false">
    	<appender-ref ref="console"/>
    </logger>
    
</configuration>