<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta th:include="fregment/top::head">
<title>公文往来</title>
</head>
<body>
	<!-- 顶部目录 -->
	<div th:include="fregment/header::body"></div>
	
	<div class="container-fluid">
		<div class="row">			
			<!-- 左侧导航栏 -->
			<div class="col-md-2">
				<div class="list-group">
					<button class="list-group-item active">菜单</button>
					<button class="list-group-item"><i class="glyphicon glyphicon-align-left" aria-hidden="true" th:text="| #{msg.office.overview}">汇总情况</i></button>
					<button class="list-group-item"><i class="glyphicon glyphicon-copy" aria-hidden="true" th:text="| #{msg.office.higher}">上级机关</i></button>
					<button class="list-group-item"><i class="glyphicon glyphicon-cd" aria-hidden="true" th:text="| #{msg.office.bureau}">局内文件</i></button>
					<button class="list-group-item"><i class="glyphicon glyphicon-transfer" aria-hidden="true" th:text="| #{msg.office.local}">本级文件</i></button>
					<button class="list-group-item"><i class="glyphicon glyphicon-file" aria-hidden="true" th:text="| #{msg.office.files}">常用文档</i></button>
					<button class="list-group-item"><i class="glyphicon glyphicon-file" aria-hidden="true" th:text="| #{msg.office.files}">常用政策</i></button>
				</div>
			</div>

			<!-- 右侧滚动栏内容 -->
			<div class="col-md-10">
				
				<!-- 当前所在位置 -->
				<ol class="breadcrumb">
					<li class="active"><b>当前所在位置：</b></li>
					<li><a th:href="@{/index}">主页</a></li>
					<li><a th:href="@{/office}">公文往来</a></li>
				</ol>

				<!-- Overview表格 -->
				<table id="table-overview" class="table table-bordered">
					<caption th:text="#{msg.office.overview}">DashBoard</caption>
					<thead>
						<tr>
							<td>上级机关</td>
							<td>局内文件</td>
							<td>本级文件</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>10</td>
							<td>10</td>
							<td>10</td>
						</tr>
					</tbody>
					<tfoot>
					</tfoot>
				</table>

				<!-- 上级机关文书 -->
				<table id="table-higher" class="table table-striped">
					<caption th:text="#{msg.office.higher}">Dashboard</caption>
					<thead>
						<tr>
							<td>序号</td>
							<td>发文机关</td>
							<td>发文字号</td>
							<td>名称</td>
							<td>创建时间</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>序号</td>
							<td>发文机关</td>
							<td>发文字号</td>
							<td><a href="">名称</a></td>
							<td>创建时间</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<ul class="pagination">
									<li><a href="#">&laquo;</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</td>
						</tr>
					</tfoot>
				</table>

				<!-- 局机关文书 -->
				<table id="table-bureau" class="table table-striped">
					<caption th:text="#{msg.office.bureau}">DashBoard</caption>
					<thead>
						<tr>
							<td>序号</td>
							<td>发文机关</td>
							<td>发文字号</td>
							<td>名称</td>
							<td>创建时间</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>序号</td>
							<td>发文机关</td>
							<td>发文字号</td>
							<td>名称</td>
							<td>创建时间</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<ul class="pagination">
									<li><a href="#">&laquo;</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</td>
						</tr>
					</tfoot>
				</table>

				<!-- 本级机关文书 -->
				<table id="table-local" class="table table-striped">
					<caption th:text=#{msg.office.local}>DashBoard</caption>
					<thead>
						<tr>
							<td>序号</td>
							<td>发文机关</td>
							<td>发文字号</td>
							<td>名称</td>
							<td>创建时间</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>序号</td>
							<td>发文机关</td>
							<td>发文字号</td>
							<td>名称</td>
							<td>创建时间</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<ul class="pagination">
									<li><a href="#">&laquo;</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</td>
						</tr>
					</tfoot>
				</table>
				
			</div>
		
		</div><!-- row -->
	</div><!-- container-fluid -->
	
	<div th:include="fregment/footer::body"
</body>
</html>
