`
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>office.html</title>
<meta charset="utf-8">
</head>
<body>
	<!-- 左侧导航栏 -->
	<left>
	<div class="container-fluid">
		<ul class="nav nav-sidebar">
			<li><a id="overview"> <span
					class="glyphicon glyphicon-align-left" aria-hidden="true"
					th:text="#{msg.office.overview}"></span>
			</a></li>
			<li><a id="higher"> <span class="glyphicon glyphicon-copy"
					aria-hidden="true" th:text="#{msg.office.higher}">上级机关</span>
			</a></li>
			<li><a id="bureau"> <span class="glyphicon glyphicon-cd"
					aria-hidden="true" th:text="#{msg.office.bureau}">局内文件</span>
			</a></li>
			<li><a id="local"> <span
					class="glyphicon glyphicon-transfer" aria-hidden="true"
					th:text="#{msg.office.local}">本级文件</span>
			</a></li>
		</ul>
	</div>
	</left>

	<!-- 右侧滚动栏内容 -->
	<right>
	<div class="container-fluid">
		<!-- Overview表格 -->
		<table id="table-overview" class="table table-bordered">
			<caption th:text="#{msg.office.overview}">DashBoard</caption>
			<thead>
				<tr>
					<td>上级机关</td>
					<td>局内文件</td>
					<td>本级文件</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>10</td>
					<td>10</td>
					<td>10</td>
				</tr>
			</tbody>
			<tfoot>
			</tfoot>
		</table>

		<!-- 上级机关文书 -->
		<table id="table-higher" class="table table-striped">
			<caption th:text="#{msg.office.higher}">Dashboard</caption>
			<thead>
				<tr>
					<td>序号</td>
					<td>发文机关</td>
					<td>发文字号</td>
					<td>名称</td>
					<td>创建时间</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>序号</td>
					<td>发文机关</td>
					<td>发文字号</td>
					<td><a href="">名称</a></td>
					<td>创建时间</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">
						<ul class="pagination">
							<li><a href="#">&laquo;</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</td>
				</tr>
			</tfoot>
		</table>

		<!-- 局机关文书 -->
		<table id="table-bureau" class="table table-striped">
			<caption th:text="#{msg.office.bureau}">DashBoard</caption>
			<thead>
				<tr>
					<td>序号</td>
					<td>发文机关</td>
					<td>发文字号</td>
					<td>名称</td>
					<td>创建时间</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>序号</td>
					<td>发文机关</td>
					<td>发文字号</td>
					<td>名称</td>
					<td>创建时间</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">
						<ul class="pagination">
							<li><a href="#">&laquo;</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</td>
				</tr>
			</tfoot>
		</table>

		<!-- 本级机关文书 -->
		<table id="table-local" class="table table-striped">
			<caption th:text=#{msg.office.local}>DashBoard</caption>
			<thead>
				<tr>
					<td>序号</td>
					<td>发文机关</td>
					<td>发文字号</td>
					<td>名称</td>
					<td>创建时间</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>序号</td>
					<td>发文机关</td>
					<td>发文字号</td>
					<td>名称</td>
					<td>创建时间</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5">
						<ul class="pagination">
							<li><a href="#">&laquo;</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</td>
				</tr>
			</tfoot>
		</table>

	</div>
	</right>
	<script type="text/javascript">
		//加载时显示overview
		//点击overview时显示overview
		//点击higher时显示overview
		//点击overview时显示overview
		//点击overview时显示overview
	</script>
</body>
</html>
