<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>干部信息修改</title>
</head>
<body>
	<!-- 部门信息 -->
	<left>
		<div class="list-group">
			<a class="list-group-item active">处室</a>
			<a th:each="department,iter:${departments}"
				th:id="${department.id}"
				th:utext="|<span class='glyphicon glyphicon-user'> ${department.departmentName}"
				class="list-group-item"
				th:href="@{/personel/employees/info/{deptId}(deptId=${department.id})}">	
			</a>
		</div>	
	</left>
	
	<!-- 部门人员列表 -->
	<right>
		<!-- 导航 -->
		<ol class="breadcrumb">
			<li class="active"><b>当前所在位置：</b></li>
		    <li><a th:href="@{/index}">主页</a></li>
		    <li><a th:href="@{/personel}">人事服务</a></li>
		    <li><a th:href="@{/personel/employees/info/1}">职工信息</a></li>
		</ol>
		
		<table class="table table-bordered" style="font-size: 10pt">
			<thead>
				<tr class="active">
					<td>姓名</td>
					<td>在编</td>
					<td>性别</td>
					<td>民族</td>
					<td>生日</td>
					<td>政治面貌</td>
					<td>党团时间</td>
					<td>参加工作时间</td>
					<td>调入本局时间</td>
					<td>职务</td>
					<td>职务时间</td>
					<td>职级</td>
					<td>职级时间</td>
					<td>全日制学历</td>
					<td>在职学历</td>
					<td>修改</td>
				</tr>
			</thead>
			<tr th:each="employee,iter:${employees}">
				<td th:text="${employee.name}"></td>
				<td th:text="${employee.isFormal}==true?'是':'否'"></td>
				<td th:text="${employee.isMale}==true?'男':'女'">	</td>
				<td th:text="${employee.nation}!=null?${employee.nation.nationName}:''"></td>
				<td th:text="${#dates.format(employee.birthday,'yyyy-MM-dd')}"></td>
				<td th:text="${employee.party}!=null?${employee.party.partyName}:''"></td>
				<td th:text="${#dates.format(employee.partyTime,'yyyy-MM-dd')}"></td>
				<td th:text="${#dates.format(employee.jobStartTime,'yyyy-MM-dd')}"></td>
				<td th:text="${#dates.format(employee.entryTime,'yyyy-MM-dd')}"></td>
				<td th:text="${employee.duty}!=null?${employee.duty.dutyName}:''"></td>
				<td th:text="${#dates.format(employee.dutyTime,'yyyy-MM-dd')}"></td>
				<td th:text="${employee.rank}!=null?${employee.rank.rankName}:''"></td>
				<td th:text="${#dates.format(employee.rankTime,'yyyy-MM-dd')}"></td>
				<td th:text="${employee.fullTimeEdu}!=null?${employee.fullTimeEdu.eduName}:''"></td>
				<td th:text="${employee.inServiceEdu}!=null?${employee.inServiceEdu.eduName}:''"></td>
				<td><a class="btn btn-success btn-sm" style="color:white;" th:href="@{/personel/mod}">修改</a></td>				
			</tr>
		</table>
	</right>
</body>
</html>