<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>人事管理</title>
<meta charset="UTF-8">
</head>

<body>
	<left>
		<ul class="list-group">
		<li class="list-group-item active">人事管理</li>
		<li class="list-group-item"><a href="">干部管理页面</a></li>
		<li class="list-group-item"><a href="">请销假及外出报备</a></li>
		<li class="list-group-item"><a href="">月总结</a></li>
		<li class="list-group-item"><a href="">季度总结</a></li>
		<li class="list-group-item"><a href="">上下班打卡</a></li>
		</ul>
	</left>
	
	<right>
	
	</right>
</body>
</html>
