<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta th:include="fregment/top::head">
<title>活动通知</title>
</head>

<body>

	<!-- 引入header -->
	<div th:include="fregment/header::body"></div>

	<!-- 本html的Body -->
	<div class="container-fluid">

		<!-- 两栏式-左侧栏 -->
		<div class="col-md-2">
			<div class="list-group">
				<button class="list-group-item active">目录</button>
				<button class="list-group-item">计划管理</button>
				<button class="list-group-item">会议记录</button>
				<button class="list-group-item">活动记录</button>
			</div>
		</div>

		<!-- 两栏式-右侧栏 -->
		<div class="col-md-10">
			<table>
			</table>
		</div>
	</div>

	<!-- 引入footer -->
	<div th:include="fregment/footer::body"></div>

</body>
</html>
