<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>活动通知</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <!-- bootstrap移动设备优先 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--  引入样式文件 -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- 引入JQuery文件 -->
    <script type="text/javascript" src="js/jquery-3.3.2.min.js"></script>
    <!--  -->
	<style type="text/css">
	body{padding-top:60px;}
	.text-white{
		color:white;
	}
	
	</style>
	
  </head>
  
  <body>
    
	<!-- 引入header -->
	<div th:include="header::html"></div>
	
	<!-- 本html的Body -->
	<div class="container-fluid">
	
		<!-- 两栏式-左侧栏 -->
		<div class="col-xs-3">
			<div class="list-group">
				<div class="list-group-item">
					<img src="">
					<h4>活动通知</h4>
				</div>
				<button class="list-group-item">党组织管理</button>
				<button class="list-group-item">计划管理</button>
				<button class="list-group-item">党员管理</button>
				<button class="list-group-item">会议记录</button>
				<button class="list-group-item">活动记录</button>
			</div>
		</div>
		
		<!-- 两栏式-右侧栏 -->		
		<div class="col-xs-9">
			<table>
			</table>
		</div>
	</div>
	
	<!-- 引入footer -->
	<div th:include="footer::html"></div>
	
  </body>
</html>
