<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>个人信息维护</title>
<meta charset=UTF-8 />
</head>
<body>
<left>

	<table>
		
		<tr>
			<td class="text-center">
				<img alt="" th:src="@{/portrait/portrait-default.png}">
			</td>
		</tr>
		<tr>
			<td><p class="text-left" th:text="#{msg.user.username}">用户：</p></td>
		</tr>
		<tr>
			<td><p class="text-left" th:text="${user.username}"></p></td>
		</tr>
		<tr>
			<td><p class="text-left" th:text="#{msg.user.password}">密码：</p></td>
		</tr>
		<tr>
			<td class="text-left"><a class="text-left" th:href="@{/user/pwd/mod}">修改密码</a></td>
		</tr>
		<tr>
			<td><p class="text-left" th:text="#{msg.user.email}">邮箱：</p></td>
		</tr>
		<tr>
			<td><p class="text-left" th:text="${user.email}"></td>
		</tr>
		<tr>
			<td><p class="text-left" th:text="#{msg.user.mobile}">手机：</p></td>
		</tr>
		<tr>
			<td><p class="text-left" th:text="${user.mobile}"></td>
		</tr>
		<tr>
			<td><p class="text-left" th:text="#{msg.user.status}"状态：</td>
		</tr>
		<tr>
			<td><p class="text-left" th:text="${user.enabled!='false'?'正常':'不可用'}"></td>
		</tr>
		
	</table>

</left>
	
<middle>
	<form action="">
		<table class="table table-condensed">
			<caption>用户信息</caption>
			<tr>
				<td>用户名：</td>
				<td><input class="form-control" type="text" name="username" readonly="readonly" th:value="${user.username}"></td>
			</tr>
			<tr>
				<td>Email：</td>
				<td><input class="form-control" type="text" name="email" readonly="readonly" th:value="${user.email}"></td>
			</tr>
			<tr>
				<td>手机号：</td>
				<td><input class="form-control" type="text" name="mobile" th:value="${user.mobile}"></td>
			</tr>
			<tr>
				<td>用户状态：</td>
				<td><p class="form-control" th:text="${user.enabled!='false'?'正常':'不可用'}"></td>
			</tr>
			<tr>
				<td colspan=2 class="text-center"><input type="submit" value="修改" class="btn btn-primary"></td>
			</tr>
		</table>
	</form>
	<br>

	<form th:action="@{/user/employee/mod}" method="post">
		<table class="table table-condensed">
			<caption>详细信息<input type="hidden" th:value="${employee.id}"></caption>			
			<tr>		
				<td>部门</td>
				<td>
					<select class="form-control" th:value="${employee.department}">
						<option value="提示">请选择部门</option>
						<option th:each="department:${departments}"
							th:value="${department}" th:text="${department.departmentName}"
							th:selected="${employee.department == department}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>是否正式编制</td>
				<td><select class="form-control"
					th:field="${employee.isFormal}"> 
						<option value="true" th:selected="${employee.isFormal==true}">正式人员</option>					
						<option value="false" th:selected="${employee.isFormal==false}">工勤人员</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>性别</td>
				<td><select class="form-control" th:field="${employee.isMale}">
						<option value="true" th:selected="${employee.isMale==true}">男</option>
						<option value="false" th:selected="${employee.isMale==false}">女</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>民族</td>
				<td><select class="form-control" th:value="${employee.nation}">
						<option value="提示">请选择民族</option>
						<option th:each="nation:${nations}" th:value="${nation}"
							th:text="${nation.nationName}"
							th:selected="${employee.nation == nation}"></option>
					</select>
				
				</td>
			</tr>
			<tr>
				<td>生日</td>
				<td><input class="form-control" type="text"
					th:value="${#dates.format(employee.birthday,'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<td>党团</td>
				<td>
					<select class="form-control" th:value="${employee.party}">
						<option value="提示">请选择党团</option>
						<option th:each="party:${partys}" th:value="${party}"
							th:text="${party.partyName}"
							th:selected="${employee.party == party}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>党团时间</td>
				<td><input class="form-control" type="text"
					th:value="${#dates.format(employee.partyTime,'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<td>参加工作时间</td>
				<td><input class="form-control" type="text"
					th:value="${#dates.format(employee.jobStartTime,'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<td>调入本单位时间</td>
				<td><input class="form-control" type="text"
					th:value="${#dates.format(employee.entryTime,'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<td>职务</td>
				<td>
				<select class="form-control" th:value="${employee.duty}">
						<option value="">请选择职务</option>
						<option th:each="duty:${dutys}" th:value="${duty}"
							th:text="${duty.dutyName}"
							th:selected="${employee.duty == duty}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>职务时间</td>
				<td><input class="form-control" type="text"
					th:value="${#dates.format(employee.dutyTime,'yyyy-MM-dd')}">
				</td>
			</tr>
			<tr>
				<td>职级</td>
				<td>
					<select class="form-control" th:value="${employee.rank}">
						<option value="">请选择职级</option>
						<option th:each="rank:${ranks}" th:value="${rank}"
							th:text="${rank.rankName}"
							th:selected="${employee.rank == rank}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>职级时间</td>
				<td><input class="form-control" type="text"
					th:value="${#dates.format(employee.rankTime,'yyyy-MM-dd')}"></td>
			</tr>
			<tr>
				<td>全日制学历</td>
				<td>
					<select class="form-control" th:value="${employee.fullTimeEdu}">
						<option value="提示">请选择职务</option>
						<option th:each="fullTimeEdu:${fullTimeEdus}"
							th:value="${fullTimeEdu}" th:text="${fullTimeEdu.eduName}"
							th:selected="${employee.fullTimeEdu == fullTimeEdu}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>在职学历</td>
				<td>
					<select class="form-control" th:value="${employee.inServiceEdu}">
						<option value="提示">请选择职务</option>
						<option th:each="inServiceEdu:${inServiceEdus}"
							th:value="${inServiceEdu}" th:text="${inServiceEdu.eduName}"
							th:selected="${employee.inServiceEdu == inServiceEdu}"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>注册时间</td>
				<td><input class="form-control" type="text"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="reset" value="重置" class="btn btn-primary">
				<input type="submit" value="提交" class="btn btn-primary"></td>
			</tr>
		</table>
	</form>
	
	<form action="">
		<table class="table  table-condensed">
			<caption th:value="#{msg.user.experience}">工作经历</caption>
			<tr>
				<td>开始时间</td><td>结束时间</td><td>工作内容</td><td>备注</td>
			</tr>
			<tr th:each="experience,iterState:${experiences}">
				<td><input class="form-control" type="text" th:value="${#dates.format(experience.startTime,'yyyy-MM-dd')}"></td>
				<td><input class="form-control" type="text" th:value="${#dates.format(experience.endTime,'yyyy-MM-dd')}"></td>
				<td><input class="form-control" type="text" th:value="${experience.jobContent}"></td>
				<td><input class="form-control" type="text" th:value="${experience.others}"></td>
			</tr>
			<tr>
				<td colspan="4">
					<input class="btn btn-primary" type="button" th:value="#{msg.user.experience.add}">
					<input class="btn btn-primary" type="submit" th:value="#{msg.user.experience.submit}">
				</td>
			</tr>
		</table>
	</form>	
</middle>
</body>
</html>