<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">
<!-- Bootstrap:移动设备适配 -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- SiteMesh:Title -->
<title><sitemesh:write property='title'/></title>
<!-- Bootstrap:CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<!-- 顶部有菜单栏，内容下移60px避开 -->
<style type="text/css">
	body{padding-top:50px;}
	.table tbody tr td{vertical-align: middle;}
	a:link{color:grey;}
	a:visited {color: grey;}
	a:hover {color: black;}
}
</style>
<!-- 放在最后会使页面加载速度更快 -->
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<!-- 暂时解除源代码
<script type="text/javascript" th:src="@{/js/source-not-open.js}"></script>
 -->
<!-- Sitemeah:head -->
<sitemesh:write property="head"/>
</head>

<body>
	<!-- 引入header -->
	<div th:include="header::body"></div>
	
	<!-- Sitemesh:body -->
	<sitemesh:write property="body"/>
	
	<!-- 引入footer -->
	<div th:include="footer::body"></div>

</body>

</html>
