<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fregment/top::head">
<title>403</title>
<meta charset="utf-8">
</head>
<body>
	<!-- 顶部目录 -->
	<div th:include="fregment/header::body"></div>
	
	<!--属性名是通过查看源码AccessDeniedHandlerImpl的handle（）方法找到的-->
	<div class="container" style="margin-top: 100px; margin-bottom: 100px">
		<div class="text-center"><img alt="" src="/imgs/lock.png"></div>
		<h3 class="text-center">当前您访问的资源受到保护,您没有访问权限！</h3>
		<br>
		<div class="text-center" style="color: red;font-size: 12pt;">您<a th:href="@{/login}"><b>未登录</b></a>或权限不足，请与管理员联系 </div>
		<br> 
		<div class="text-center" style="font-size: 12pt;"><a href="javascript:history.go(-1)"><b>返回</b></a></div>
		<br>
		<div class="text-center" hidden="true">
			<th:block th:text="${#httpServletRequest.getAttribute('SPRING_SECURITY_403_EXCEPTION')}"></th:block>
		</div>	
	</div>
	
	<div th:include="fregment/footer::body"></div>
</body>
</html>