<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  <meta charset="UTF-8">
  <meta th:include="fregment/top::head">
    <title>错误</title>
  </head>
  
  <body>
    <div th:include="fregment/header::body"></div>
    
    <h1 class="text-error">发生错误</h1>
    <div th:if="${url}"><p th:text="${url}"></p></div>
    <div th:if="${exception.message}"><p th:text="${exception.message}"></p></div>    


	<div th:include="fregment/footer::body"></div>
  </body>
</html>
