<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>header</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
	<script>
		function english() {
			window.location.href = window.location.pathname + "?lang=en_US";
		}
		function chinese() {
			window.location.href = window.location.pathname + "?lang=zh_CN";
		}
	</script>
	<!-- 导航栏 -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<img class="nav navbar-nav" th:src="@{/imgs/zhelee_logo_flat.png}"/>
				<a class="navbar-brand" th:href="@{/}" th:text="#{msg.brand}">信息服务中心</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/index" th:text="#{msg.menu.home}">首页</a></li>
					<li><a href="/office" th:text="#{msg.menu.office}">公文往来</a></li>
					<li><a href="/daily" th:text="#{msg.menu.daily}">日常工作</a></li>
					<li><a href="/personel" th:text="#{msg.menu.personel}">人事管理</a></li>
					<li><a href="/policy" th:text="#{msg.menu.policy}">政策收集</a></li>
					<li><a href="/activity" th:text="#{msg.menu.activity}">活动通知</a></li>
					<li><a href="/about" th:text="#{msg.menu.about}">关于</a></li>
				</ul>
				<div class="navbar-text navbar-right">
					<a id="lang-english" href='javascript:;' onclick='english();'
						class="navbar-link">English(US)</a> <span>|</span> <a
						id="lang-chinese" href='javascript:;' onclick='chinese();'
						class="navbar-link">简体中文</a>
				</div>

				<div th:if="${session.SPRING_SECURITY_CONTEXT}!=null"
					class="navbar-text navbar-right">
					<a class="navbar-link"
						th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}"
						th:href="@{/user/details}"></a> <span>|</span> <a class="navbar-link"
						th:href="@{/admin}" th:text="#{msg.admin}">后台管理</a>
				</div>
				
				<div th:if="${session.SPRING_SECURITY_CONTEXT}!=null"
					class="navbar-text navbar-right">
					<form th:action="@{/logout}" method="post">
						<input type="submit" th:value="#{msg.exit}"
							style="border:none; list-style-type: none; background: none" />
					</form>
				</div>

				

				<div th:if="${session.SPRING_SECURITY_CONTEXT}==null"
					class="navbar-text navbar-right">
					<a href="/login" class="navbar-link" th:text="#{msg.login}">登录</a>
					<span>|</span> <a href="/register" class="navbar-link"
						th:text="#{msg.register}">注册</a>
				</div>
				<!-- 
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" th:placeholder="#{msg.search}">
				</form>
				 -->
			</div>
		</div>
	</nav>
</body>
</html>
