<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>登录</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<!-- 
<style type="text/css">
.form{
	background: rgba(92,184,92,0.1);
	padding-top:20px;
	padding-bottom: 20px;
	border-radius: 10px;
	border: solid 1px rgb(92,184,92);
		}  
#login_form{display: block;}  
</style>
 -->
</head>
<body>
		
	<div class="container" style="margin-top: 100px; margin-bottom: 100px">
		<div th:if="${param.error}">Invalid username and password.</div>
		<div th:if="${param.logout}">You have been logged out.</div>
		<div th:if="${message}" style="color: red">
			<p th:text="${message}"></p>
		</div>
		
		<form
			class="col-sm-offset-4 col-sm-4 col-sm-offset-4 form form-horizontal"
			id="login_form" th:action="@{/login}" method="post">
			<h3 class="text-center">用户登录</h3>
			<br>
			<div class="form-group">
				<label for="username" class="col-sm-2 control-label"
					th:text="#{msg.login.email}">email</label>
				<div class="col-sm-10">
					<input type="email" id="username" name="username"
						class="form-control" placeholder="输入注册邮箱"/>
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-2 control-label"
					th:text="#{msg.login.password}"> Password: </label>
				<div class="col-sm-10">
					<input type="password" id="password" name="password"
						class="form-control" placeholder="输入注册密码"/>
				</div>
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-10"><input type="checkbox" name="remember-me" value="true"
				th:checked="checked" th:text="#{msg.login.rememberme}" />
			</div>
			<br><br>
			<div>
				<input type="submit" value="Sign In" th:value="#{msg.login.submit}"
					class="btn btn-success center-block" />
			</div>

			<!--注释掉可测试CSRF防御-->
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
		</form>
		<br>
		<!-- 
	        <div class="row">
		        <div class="col-xs-6 col-md-3 text-center"><img alt="支付宝登录" src="imgs/icon_alipay_256.png"></div>
		        <div class="col-xs-6 col-md-3 text-center"><img alt="QQ登录" src="imgs/icon_qq_256.png"></div>
		        <div class="col-xs-6 col-md-3 text-center"><img alt="微信登录" src="imgs/icon_webchat_256.png"></div>
		        <div class="col-xs-6 col-md-3 text-center"><img alt="微博登录" src="imgs/icon_weibo_256.png"></div>
		    </div>
		     -->
		<th:block
			th:text="${#httpServletRequest.session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION')}"></th:block>
	</div>
	<br>
	<script type="text/javascript">
     $().ready(function() {
    	    $("#login_form").validate({
    	        rules: {
    	            username: "required",
    	            password: {
    	                required: true,
    	                minlength: 5
    	            }
    	        },
    	        messages: {
    	            username: "请输入邮箱",
    	            password: {
    	                required: "请输入密码",
    	                minlength: jQuery.format("密码不能小于{0}个字 符")
    	            }
    	        }
    	    });
    	});
     </script>
</body>
</html>  