<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>登录</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<style type="text/css">
body {
	padding-top: 40px;
}
</style>

</head>

<body>

	<div th:include="/header::html"></div>

	<div class="container">

		<form action="/login" method="post">
			<h2 th:text="#{msg.login.title}">请登录</h2>
			<input id="account" name="account" type="text" class="form-control"
				placeholder="UserName/Tel./Email"> 
			<br>
			<input id="password" name="password"
				type="password" class="form-control" placeholder="Password">
			<div class="checkbox">
				<label> <input type="checkbox" th:text="#{msg.login.rememberme}">
				</label>
			</div>
			<button id="btn-reset" class="btn btn-primary" type="submit">重置</button>
			<button id="btn-submit" class="btn btn-primary pull-right" type="submit">登录</button>
			<label th:text="${message}"></label>
		</form>

	</div>

	<div class="footer" th:include="/footer::html"></div>
<!-- 引入JQuery -->	
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<!-- 禁止查看源代码 -->
<script type="text/javascript" src="js/source-not-open.js"></script>
<!-- 检查输入框是否为空 -->
<script type="text/javascript">
	$(document).ready(function() {
		$("#btn-submit").click(function() {
			debugger
			var account=$("#account").val();
			var password=$("#password").val();
			if(account==null||account==""){
				alert("Account should not be empty");
				$("#account").focus();
				return false;
			}else if(password==null||password==""){
				alert("Password should not be empty");
				$("#password").focus();
				return false;
			}		
		});
	});
</script>

</body>
</html>