<!DOCTYPE html>  
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">  
    <head>  
        <title>Spring Security Example </title>  
    </head>  
    <body>
    	<div class="container">  
	        <div th:if="${param.error}">  
	            Invalid username and password.  
	        </div>  
	        <div th:if="${param.logout}">  
	            You have been logged out.  
	        </div>  
	        <form th:action="@{/login}" method="post" class="form">  
	            <div>
	            	<label th:text="#{msg.login.email}">email</label>
	            	<input type="email" name="username" class="form-control"/>
	            </div>
	            <br>  
	            <div>
	            	<label th:text="#{msg.login.password}"> Password:  </label>
	            	<input type="password" name="password" class="form-control"/>
	            </div>
	            <br>
	            <div>
	            	<input type="submit" value="Sign In" th:value="#{msg.login.submit}" class="form-control"/>
	            </div>  
	            <input type="checkbox" name="remember-me" value="true" th:checked="checked"/><p>Remember me</p> 
	            <!--注释掉可测试CSRF防御-->
	        	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
	        </form>
	        
	        <th:block th:text="${#httpServletRequest.session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION')}"></th:block>
         </div>
    </body>  
</html>  