<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{msg.about}">about.html</title>

<meta name="keywords" content="keyword1,keyword2,keyword3">
<meta name="description" content="this is my page">
<meta name="content-type" content="text/html; charset=UTF-8">

<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
<style type="text/css">
.name{background: rgba(92,184,92,0.1);
	border-radius: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid 1px #5cb85c}

</style>
</head>

<body>
	
	<left>
		<ul class="list-group">
			<li class="list-group-item" style="background-color:#16ae01;color:white">关于</li>
			<li class="list-group-item list-group-item-success"><a id="a_abstract" name="a_abstract" href="javascript:void(0)" style="color:black;" th:text="#{msg.about.abstract}">中心简介</a></li>
			<li class="list-group-item list-group-item-success"><a id="a_post" name="a_post" href="javascript:void(0)" style="color:black;" th:text="#{msg.about.post}">岗位设置</a></li>
			<li class="list-group-item list-group-item-success"><a id="a_duties" name="a_duties" href="javascript:void(0)" style="color:black;" th:text="#{msg.about.duties}">职责分工</a></li>		
		</ul>
	</left>
	
	<middle>
		<div id="div_abstract" name="div_abstract" th:include="/about/abstract::body"></div>
		<div id="div_post" name="div_post" th:include="/about/post::body"></div>
		<div id="div_duties" name="div_duties" th:include="/about/duties::body"></div>
	
	<script type="text/javascript">
		$(document).ready(function(){
			
			$("div[name^='div_']").hide();
			$("#div_abstract").show();
			debugger		
			  $("[href='javascript:void(0)']").click(function(){
				  debugger
			    var aId=$(this).attr("id");
			    var divId=aId.substr(aId.lastIndexOf("_") + 1);
			    $("div[name^='div_']").hide();
			    $("#div_"+divId).show();
			  });
			});	
	</script>
	</middle>
	
	<right>
		<div class="name">
			<div>主任：康宇珑</div>
			<div>电话：13522867530</div>
		</div>
		<br>
		<div class="name">
			<div>副主任：李楠</div>
			<div>电话：13601259857</div>
		</div>
		<br>
		<div class="name">
			<div>技术科员：李哲</div>
			<div>电话：15120076366</div>
		</div>
		<br>
		<div class="name">
			<div>技术科员：王军</div>
			<div>电话：13621206916</div>
		</div>
		<br>
		<div class="name">
			<div>数据科员：李凛</div>
			<div>电话：13910682980</div>
		</div>
		<br>
		<div class="name">
			<div>数据科员：张洁</div>
			<div>电话：13683383259</div>
		</div>
		<br>
		<div class="name">
			<div>内勤科员：侯丹</div>
			<div>电话：13810668091</div>
		</div>
	</right>

</body>
</html>
