<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class=WordSection1 style='layout-grid: 15.95pt 0pt'>

	<p class=MsoNormal align=center
		style='text-align: center; line-height: 28.0pt; layout-grid-mode: char'>
		<span style='font-size: 22.0pt; font-family: 方正小标宋简体'>北京市投资促进局</span>
	</p>

	<p class=MsoNormal align=center
		style='text-align: center; line-height: 28.0pt; layout-grid-mode: char'>
		<span style='font-size: 22.0pt; font-family: 方正小标宋简体'>信息服务中心岗位设置和职责分工方案</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>北京市投资促进局信息服务中心承担北京市投资促进局信息化建设，电子政务的技术性、事务性工作；开展投资信息的汇集、整理、发布、服务、交流等工作。岗位设置：主任<span
			lang=EN-US>1</span>名（康宇珑）、副主任<span lang=EN-US>1</span>名（李楠），技术岗<span
			lang=EN-US>2</span>名（李哲、王军）、数据岗<span lang=EN-US>2</span>名（李凛、张洁）、内勤岗<span
			lang=EN-US>1</span>名（侯丹），具体职责如下：
		</span>
	</p>

	<p class=MsoNormal align=center
		style='margin-left: 68.8pt; text-align: center; text-indent: -68.8pt; line-height: 28.0pt; layout-grid-mode: char'>
		<span lang=EN-US style='font-size: 16.0pt; font-family: 黑体'>一、<span
			style='font: 7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></span><span style='font-size: 16.0pt; font-family: 黑体'>主任</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>信息服务中心主任负责信息化总体工作，完成信息化建设、运行、维护、管理与服务任务，做好信息化系统与设备的管理和日常维护与服务工作，为北京市投资促进局创造良好的信息化应用环境，向局信息化领导小组和局领导负责。</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<a name="OLE_LINK1"><span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>1.</span></a><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>负责制定信息化建设的规划、计划、方案等并组织实施；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>2.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>制定年度预算并实施招标、采购、维护等工作；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>3.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>统筹信息化建设和管理，建立相应规章制度；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>4.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>制定日常工作计划，安排并管理信息服务中心日常工作；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>5.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>沟通内外关系，完成工作协调任务；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>6.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>负责信息化设备管理和运维整体工作；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>7.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>负责信息系统管理和运维整体工作；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>8.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>负责网络与信息安全整体工作<span
			lang=EN-US>;</span></span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>9.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>负责信息服务中心工作人员的队伍建设和培养工作<span
			lang=EN-US>;</span></span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>10.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>对所属人员德、能、勤、绩进行全面考核，就其使用、晋升、绩效、奖惩等提出建议；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>11</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>．认真履行、落实北京市投资促进局有关信息化建设等文件要求、完成上级领导下达的其他任务。</span>
	</p>

	<p class=MsoNormal align=center
		style='text-align: center; line-height: 28.0pt; layout-grid-mode: char'>
		<span style='font-size: 16.0pt; font-family: 黑体'>二、副主任</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>信息服务中心副主任协助信息服务中心主任做好信息化总体工作，协助做好信息化建设、运行、维护、管理与服务工作，提出信息化工作的合理化建议，在主任不在位时代理主任工作并向主任负责。</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>1.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>协助主任制定信息化建设的规划、计划、方案等并组织实施；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>2.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>协助主任制定年度预算并实施招标、采购、维护等工作；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>3.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>协助主任统筹信息化建设和管理，建立相应规章制度；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>4.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>协助主任制定日常工作计划，安排并组织实施；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>5.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>协助主任沟通内外关系，完成工作协调任务；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>6.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>协助主任完成信息服务中心工作人员的队伍建设和培养工作；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>7.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>协助主任完成对所属人员德、能、勤、绩考核；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>8.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>完成领导交办的其他工作。</span>
	</p>

	<p class=MsoNormal align=center
		style='margin-left: 54.9pt; text-align: center; text-indent: -54.9pt; line-height: 28.0pt; layout-grid-mode: char'>
		<span lang=EN-US style='font-size: 16.0pt; font-family: 黑体'>三、<span
			style='font: 7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</span></span><span style='font-size: 16.0pt; font-family: 黑体'>技术岗<span
			lang=EN-US>1</span></span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>技术岗<span
			lang=EN-US>1</span>在信息服务中心主任、副主任领导下，主要完成信息化技术支持、软硬件系统管理和信息安全方面的工作。
		</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>1.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>协助制定信息化规划、计划、方案并落实；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>2.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>协助实施信息化项目全流程管理；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>3.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>做好局官网、“北京市促进民间与社会投资信息”平台系统、“两微一端”等技术支持工作；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>4.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>协调技术、维护、安全、云计算等服务提供商做好信息化管理工作</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>5.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>做好局内软件系统维护工作；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>6.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>完成领导交办的其他事项。</span>
	</p>

	<p class=MsoNormal align=center
		style='text-align: center; line-height: 28.0pt; layout-grid-mode: char'>
		<span style='font-size: 16.0pt; font-family: 黑体'>四、技术岗<span
			lang=EN-US>2</span></span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>技术岗<span
			lang=EN-US>2</span>在信息服务中心主任、副主任领导下，主要完成信息化技术支持、资料库管理等工作。
		</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>1.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>党务工作协调及落实</span>
	</p>
	
	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>2.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>对信息化规划、计划、方案提出合理化建议；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>3.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>落实信息化规划、计划、方案；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>4.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>负责“产业招商精准招商”资料库等应用系统的日常维护和管理及资料备份等工作；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>5.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>配合相关部门完成信息的检查督导工作；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>6.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>负责信息系统的技术支持、异常及故障处理；</span>
	</p>
	
	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>7.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>负责政府网站信息报送系统的维护；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>8.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>完成领导交办的其他事项。</span>
	</p>

	<p class=MsoNormal align=center
		style='text-align: center; line-height: 28.0pt; layout-grid-mode: char'>
		<span style='font-size: 16.0pt; font-family: 黑体'>五、数据岗<span
			lang=EN-US>1</span></span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>数据岗<span
			lang=EN-US>1</span>在信息服务中心主任、副主任领导下，主要负责微信栏目、内容的维护工作。
		</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>1.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>对信息化规划、计划、方案提出合理化建议；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>2.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>落实信息化规划、计划、方案；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>3.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>负责投资信息的汇集、整理、发布、服务、交流等工作</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>4.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>完成微信订阅号的栏目及内容维护</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>5.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>完成微信服务号的栏目及内容维护</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>6.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>完成领导交办的其他事项。</span>
	</p>

	<p class=MsoNormal align=center
		style='text-align: center; line-height: 28.0pt; layout-grid-mode: char'>
		<span style='font-size: 16.0pt; font-family: 黑体'>六、数据岗<span
			lang=EN-US>2</span></span>
	</p>

	<p class=MsoNormal align=left
		style='text-align: left; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>数据岗<span
			lang=EN-US>2</span>在信息服务中心主任、副主任领导下，主要负责微博和今日头条的内容维护工作。
		</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>1.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>对信息化规划、计划、方案提出合理化建议；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>2.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>落实信息化规划、计划、方案；</span>
	</p>

	<p
		style='margin: 0cm; margin-bottom: .0001pt; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>3.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #3C3C3C'>负责投资信息的汇集、整理、发布、服务、交流等工作；</span>
	</p>
	
	<p class=MsoNormal align=left
		style='text-align: left; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>4.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>负责“北京市促进民间与社会投资信息平台的内容维护”</span>
	</p>

	<p class=MsoNormal align=left
		style='text-align: left; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>5.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>完成微博内容的日常维护</span>
	</p>

	<p class=MsoNormal align=left
		style='text-align: left; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>6.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>完成今日头条内容的日常维护</span>
	</p>

	<p class=MsoNormal align=left
		style='text-align: left; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>7.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>完成领导交办的其他事项。</span>
	</p>

	<p class=MsoNormal align=center
		style='text-align: center; line-height: 28.0pt; layout-grid-mode: char'>
		<span style='font-size: 16.0pt; font-family: 黑体'>七、内勤岗</span>
	</p>

	<p class=MsoNormal align=left
		style='text-align: left; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>内勤岗在信息服务中心主任、副主任领导下，完成信息服务中心的日常事务性工作，包括文件管理、固定资产管理、信息沟通等。</span>
	</p>

	<p class=MsoNormal align=left
		style='text-align: left; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>1.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>完成日常文件整理，业务资料的录入存档等工作；</span>
	</p>

	<p class=MsoNormal align=left
		style='text-align: left; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>2.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>负责固定资产的日常管理，做好固定资产的报废和报损工作；</span>
	</p>

	<p class=MsoNormal align=left
		style='text-align: left; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>3.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>配合资产管理部门做好资产清查和相关检查工作；</span>
	</p>

	<p class=MsoNormal align=left
		style='text-align: left; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>4.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>负责通知、文件等文件资料及信息的上传下达工作；</span>
	</p>

	<p class=MsoNormal align=left
		style='text-align: left; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>5.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>负责与局内其他处室联络，做好信息沟通工作；</span>
	</p>

	<p class=MsoNormal align=left
		style='text-align: left; text-indent: 32.0pt; line-height: 28.0pt; background: white'>
		<span lang=EN-US
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>6.</span><span
			style='font-size: 16.0pt; font-family: 仿宋; color: #333333'>领导交办的其他事项。</span>
	</p>

	<p class=MsoNormal style='line-height: 28.0pt'>
		<span lang=EN-US>&nbsp;</span>
	</p>

</div>
</body>
</html>